.pin-my-map { overflow: hidden; }

.pin-my-map .map_canvas--wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.pin-my-map .map_canvas--wrapper #map_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.map__toggle {
	position: absolute;
	top: 0;
	right: 0;	
}



.map-container .onoffswitch input { display: none; }
.map-container{ 
	float:right;
	background-color:#FFF;
	margin:15px;
	padding:15px;
}
.map-container div.label { 
	float:right;
	margin:5px 15px 0 0;
}
.map-container .onoffswitch { 
	position:relative;
	float:right;
	width:60px;
	margin:0;
	-webkit-user-select:none;
		 -moz-user-select:none;
			-ms-user-select:none;
}
.map-container .onoffswitch label { 
	display:block;
	overflow:hidden;
	cursor:pointer;
	border:1px solid #999;
	border-radius:7px;
}
.map-container .onoffswitch label .onoffswitch-inner { 
	width:200%; 
	margin-left:-100%;
	-webkit-transition:margin .3s ease-in 0;
		 -moz-transition:margin .3s ease-in 0;
			 -o-transition:margin .3s ease-in 0;
					transition:margin .3s ease-in 0;
}
.map-container .onoffswitch label .onoffswitch-inner:before,
.map-container .onoffswitch label .onoffswitch-inner:after { 
	float:left;
	width:50%;
	height:30px;
	line-height:30px;
	font-size: 12px;
	color:#FFF;
	padding:0;
	-webkit-box-sizing:border-box;
		 -moz-box-sizing:border-box;
					box-sizing:border-box;
}
.map-container .onoffswitch label .onoffswitch-inner:before {
	content:"OFF";
	padding-left:5px;
	background-color:red;
	color:#FFF;
	text-align:left;
}
.map-container .onoffswitch label .onoffswitch-inner:after {
	content:"ON";
	padding-right:9px;
	background-color:green;
	color:#FFF;
	text-align:right;
}
.map-container .onoffswitch label .onoffswitch-switch {
	width:20px;
	background:#FFF;
	border:1px solid #999;
	border-radius:5px;
	position:absolute;
	top:0;
	bottom:0;
	right:40px;
	-webkit-transition:all .3s ease-in 0;
		 -moz-transition:all .3s ease-in 0;
		   -o-transition:all .3s ease-in 0;
		   		transition:all .3s ease-in 0;
	}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner { 
	margin-left:0; 
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch { 
	right:0; 
}